$primary: #405a6b;
$secondary: #f9b64d;
$thirdly:#ffd25d;
$belge: #f8f7f1;

@import 'bootstrap/bootstrap.scss';
@import 'carousel.scss';


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  #logo {
    width: 9rem;
    height: auto;
  }


  .odex-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .icon {
    width: 25px;
    height: 25px;
  }



  .main-navbar-nav-link:hover {
    background-color: $secondary;
  }

  .service-square:hover {
    transform: rotate(360deg);
    opacity: 0.8;
    transition-property: transform;
    transition-duration: 500ms;
  }

