{% extends 'base.html' %}
{% load static  %}

{% block page_title %}Assistance  | Qdesk Consulting{% endblock  %}

{% block main_content %}
            

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <h2 class="featurette-heading">Assistance</h2>
    <br>
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
      <div class="col-md-7">
        <p class="lead">Assistance à la mise en place des systèmes de management :

L'assistance à la mise en place des systémes de management selon les normes ISO 9001 - ISO 14001 - ISO 45001. Cette  prestation d'assistance se déroule en 5 étapes principales à savoir :
        <ul class="lead">
          <li>Diagnostic initial & élaboration d'un plan d'actions du projet ;</li>
          <li>Formation & sensibilisation du personnel ;</li>
          <li>Accompagnement à la conception du système de management ;</li>
          <li>Assistance à la mise en application du système ;</li>
          <li>Assistance à la réalisation de l'audit à blanc, la revue de direction et à la préparation de l'audit de certification.</li>
        </ul>
</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="" height="" src="{% static 'images/assistance.png' %}" alt="Qualité">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock  %}




