{% extends 'base.html' %}
{% load static  %}

{% block page_title %}Audit  | Qdesk Consulting{% endblock  %}

{% block main_content %}
            

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <h2 class="featurette-heading">Audit</h2>
    <br>
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
      <div class="col-md-7">
        <p class="lead">Audits des systèmes de management : <br>
        Planification & réalisation des audits internes ou à blanc selon les standards ISO 9001 - ISO 14001 - ISO 45001 par des auditeurs tierce partie expérimentés.
Assistance à la mise en place des corrections et actions correctives nécessaires pour la levée des éventuels écarts enregistrés lors des audits.
</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="" height="" src="{% static 'images/audit.png' %}" alt="Qualité">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock  %}




