
{% load static  %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block page_meta_description %}{% endblock  %}" />
    <meta name="keywords" content="{% block page_meta_keywords %}{% endblock  %}" />
    <meta name="author" content="">
    <title>{% block page_title %}{% endblock %}</title>
    <!-- Include default Odex CSS -->
    <link rel="icon"  href="{% static 'images/favicon-qdesk-couleur.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/qdesk-default.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css">
  </head>
  <body class="mt-0 pt-0">
    <div class="container-fluid">
    <header class="mt-0 pt-0">
        <nav class="row navbar d-none d-md-block bg-secondary navbar-expand-md pt-0">
            <ul class="navbar-nav justify-content-end">
              <li class="nav-item ml-3"><a class="nav-link" href="#"><img class="float-left icon" src="{% static 'images/phone.png' %}" alt="Tél : "> +33 754 06 32 93</a></li>
              <li class="nav-item ml-3"><a class="nav-link" href="/construction"><img class="float-left icon" src="{% static 'images/mail.png' %}" alt="Mail : "> Nous écrire</a></li>
              <form class="form-inline mt-2 mt-md-0 mr-5 ml-3 pt-1">
                <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Newsletter</button>
              </form>
            </ul>

        </nav>
        <nav id="main-navbar" class="navbar navbar-expand-md navbar-ligth bg-white border-bottom row">
            <a class="navbar-brand ml-5" href="/"><img id="logo" src="{% static 'images/logo-qdesk-couleur.png' %}" alt="Odex Consulting"></a>
            <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link btn ml-5 text-primary text-uppercase main-navbar-nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link btn text-primary ml-5 text-uppercase main-navbar-nav-link" href="/le-cabinet">Le Cabinet</a>
                </li>
                <li class="nav-item">
                <a class="nav-link btn text-primary ml-5 text-uppercase main-navbar-nav-link" href="/formation/toutes">Formations</a>
                </li>
                <li class="nav-item">
                <a class="nav-link btn text-primary ml-5 text-uppercase main-navbar-nav-link" href="/construction">Actualités</a>
                </li>
                <li class="nav-item">
                <a class="nav-link btn text-primary ml-5 text-uppercase main-navbar-nav-link" href="/construction">Mediathèque</a>
                </li>
            </ul>
            </div>
        </nav>
</header>

<main role="main" class="content">

   {% block main_content %}
   
   {% endblock %}

  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Remonter plus haut</a></p>
    <p>&copy; 2020 Qdesk Consulting</p>
  </footer>
</main>

<!-- JS Files-->
        <!-- <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script> -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/sticky.js' %}"></script>
        {% block js_files %}{% endblock  %}

  </div>
</body>
</html>
