{% extends 'base.html' %}
{% load static  %}

{% block page_title %}Page en construction  | Qdesk Consulting{% endblock  %}

{% block main_content %}
            

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <h2 class="featurette-heading">Page en construction</h2>
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
      <div class="col-md-7">
        <p class="lead">Désolé, cette page est en construction! <br> Elle sera disponible très prochainement.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="640" height="486" src="{% static 'images/construction.png' %}" alt="Page en construction">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock  %}




