{% extends 'base.html' %}
{% load static  %}

{% block page_title %}Diagnostic  | Qdesk Consulting{% endblock  %}

{% block main_content %}
            

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <h2 class="featurette-heading">Diagnostic</h2>
    <br>
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
      <div class="col-md-7">
        <h3>Diagnostic qualité initial</h3>
        <p class="lead">Le diagnostic est le travail préalable à toute démarche Qualité dans une entreprise. Il permet d'inventorier les dispositions existantes et de les évaluer afin de mettre en place un plan d'actions pour se conformer à un tel référentiel.
La norme ISO 9001 sera notre guide lors de la réalisation de ce diagnostic qualité.
</p>
        <h3>Diagnostic environnemental initial</h3>
        <p class="lead">Les objectifs du diagnostic sont : Établir un état des lieux par rapport à la norme ISO 14001, fournir une première identification des aspects environnementaux relatifs aux différents facteurs (Eau, énergie, air, sol, déchets, bruit, odeurs, etc.) et évaluer les pratiques environnementales existantes & celles à mettre en œuvre pour la réussite de la démarche environnementale.
</p>

        <h3>Diagnostic santé et sécurité au travail</h3>
        <p class="lead">Ce diagnostic préalable à un projet de mise en place d'un système de management SST permet d'évaluer les dispositions existantes au sein d'une entreprise en matière de santé et sécurité au travail par rapport à la norme ISO 45001 : 2018 et d'identifier toutes les actions & ressources nécessaires pour assurer la conformité à cette norme internationale et la réussite du projet.
</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="" height="" src="{% static 'images/diagnostic.png' %}" alt="Qualité">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock  %}




