{% extends 'base.html' %}
{% load static  %}

{% block page_title %}Accueil  | Qdesk Consulting{% endblock  %}

{% block main_content %}
            
  <div id="myCarousel" class="carousel slide row" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="bd-placeholder-img" src="{% static 'images/ban-qdesk-consulting-prestations.jpg' %}" alt="">
        <div class="carousel-caption">
          <h1 class="text-primary">Qdesk Consulting</h1>
          <p class="text-primary">Un cabinet de conseil spécialisé dans les domaines QHSE.</p>
          <p><a class="btn btn-lg btn-primary" href="/le-cabinet" role="button">Lire la suite</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img" src="{% static 'images/ban-qdesk-consulting-pre-audit.jpg' %}" alt="">
        <div class="carousel-caption">
          <h1 class="text-primary">Nos prestations.</h1>
          <p class="text-primary">Formation, Diagnostic, Assistance et Audit.</p>
          <p><a class="btn btn-lg btn-primary" href="#prestations" role="button">En savoir plus</a></p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Précédent</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Suivant</span>
    </a>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing" id="prestations">

    <!-- Three columns of text below the carousel -->
    <div class="row text-center">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-square badge-primary pt-2 pb-2">
          <img class="bd-placeholder-img" width="140" height="140" src="{% static 'images/formation.png' %}" alt="">
          <h2>Formation</h2>
        </div>
        <p class="text-left">Nous proposons des formations de qualité sur des thèmes associés au management de la qualité, environnement et santé & sécurité au travail.</p>
        <p><a class="btn btn-secondary" href="/formation/toutes" role="button">Voir plus &raquo;</a></p>
      </div><!-- /.col-lg-3 -->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-square badge-primary pt-2 pb-2">
          <img class="bd-placeholder-img" width="140" height="140" src="{% static 'images/diagnostic.png' %}" alt="">
          <h2>Diagnostic</h2>
        </div>
        <p class="text-left">Le diagnostic est le travail préalable à toute démarche Qualité dans une entreprise. Il permet d'inventorier les dispositions existantes et de les évaluer afin de mettre en place un plan d'actions pour se conformer à un tel référentiel.
La norme ISO 9001 sera notre guide lors de la réalisation de ce diagnostic qualité.</p>
        <p><a class="btn btn-secondary" href="/diagnostic" role="button">Voir plus &raquo;</a></p>
      </div><!-- /.col-lg-3 -->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-square badge-primary pt-2 pb-2">
          <img class="bd-placeholder-img" width="140" height="140" src="{% static 'images/assistance.png' %}" alt="">
          <h2>Assistance</h2>
        </div>
        <p class="text-left">L'assistance à la mise en place des systèmes de management selon les normes ISO 9001 - ISO 14001 - ISO 45001. Cette  prestation d'assistance se déroule en 5 étapes...</p>
        <p><a class="btn btn-secondary" href="/assistance" role="button">Voir plus &raquo;</a></p>
      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-square badge-primary pt-2 pb-2">
          <img class="bd-placeholder-img" width="140" height="140" src="{% static 'images/audit.png' %}" alt="">
          <h2>Audit</h2>
        </div>
        <p class="text-left">Planification & réalisation des audits internes ou à blanc selon les standards ISO 9001 - ISO 14001 - ISO 45001 par des auditeurs tierce partie expérimentés.
Assistance à la mise en place des corrections et actions correctives nécessaires pour la levée des éventuels écarts enregistrés lors des audits.
.</p>
        <p><a class="btn btn-secondary" href="/audit" role="button">Voir plus &raquo;</a></p>
      </div>
      <!-- /.col-lg-3 -->
      
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">La Qualité <span class="text-muted">, ne peut et ne doit plus être vécue aujourd'hui comme un surcroît de contraintes</span></h2>
        <p class="lead">Un système de Management de la Qualité permet d'écouter, d'arbitrer et de contrôler. C'est-à-dire identifier et gérer les risques de l'entreprise afin d'adopter une stratégie d'anticipation et de gestion pragmatique et efficace.
Afin de répondre au besoin des clients, principe clé de l’économie de toute entité commerciale, de nombreux référentiels se sont développés répondant aux exigences d’une filière ou d’un secteur. Leur multiplication à permis de répondre spécifiquement aux besoins de chacun mais a aussi complexifié leur interprétation et leur application sur le terrain.
<br><br>
Qdesk Consulting vous offre des solutions qui vous permettent de prendre en charge tout ou partie de la démarche qualité de votre entreprise.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'images/domaine-qdesk-qualite.jpg' %}" alt="Qualité">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Hygiène<span class="text-muted">.La responsabilité appartient d’abord à ceux qui élaborent les produits et les proposent aux consommateurs.</span></h2>
        <p class="lead">L’interdépendance des producteurs tout au long de la chaîne d’élaboration des produits crée une chaîne de responsabilités. Pour l’assumer, il appartient à chaque entreprise ou collectivité, maillon de la chaine alimentaire de mettre en place les moyens lui permettant d’atteindre les objectifs fixés par la réglementation, dont celui d’assurer la sécurité et la salubrité des denrées alimentaires.

Le professionnel doit mettre en place un système de maîtrise de la sécurité des aliments reposant principalement sur la formation du personnel, la réalisation d’autocontrôles, l’utilisation des principes de la méthode HACCP et l’intégration des guides de bonnes pratiques d’hygiène.

Chaque année, la Direction générale de l’alimentation met en œuvre des contrôles et surveillances.

<br><br>Qdesk Consulting vous accompagne selon vos besoins, à tous les stades de votre démarche de sécurité sanitaire pour apporter les meilleures solutions à  votre entreprise.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'images/domaine-qdesk-hygiene.jpg' %}" alt="Hygiène">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">La Santé & La Sécurité<span class="text-muted"> font partie des préoccupations des chefs d'entreprises.</span></h2>
        <p class="lead">Or, les exigences de la société évoluent et se renforcent continuellement. La sécurité entraînent des enjeux économiques, d’image, juridiques et éthiques pour les entreprises.<br><br>
        La mise en place d'un système de gestion de la santé, sécurité au travail permet :<br>
        </p>
        <ul class="lead">
          <li>De limiter les responsabilités du chef d'entreprise ;</li>
          <li>D'accroître la productivité de l'organisme ;</li>
          <li>De réduire les taux de cotisations aux caisses d'assurance maladie ;</li>
          <li>De remplir ses obligations légales d'organisation de la santé et de la sécurité au travail.</li>
        </ul>

        <p class="lead">
        C'est pourquoi nous vous proposons, à travers nos prestations d'audit, de conseil et de formation des solutions pratiques et adaptées pour aider et orienter le chef d'entreprise dans sa démarche afin :
        </p>
        <ul class="lead">
          <li>D'identifier les risques ;</li>
          <li>De les évaluer ;</li>
          <li>De prendre les mesures de prévention nécessaires afin de les réduire.</li>
        </ul>
        <p class="lead">
        Qdesk Consulting vous offre des solutions qui vous permettent de prendre en charge tout ou une partie de la démarche sécurité de votre entreprise.
        </p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'images/domaine-qdesk-securite.jpg' %}" alt="Sécurité & Santé">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Environnement<span class="text-muted">.Les temps sont révolus où le premier souci de tout investisseur était surtout axé sur sa capacité de production.</span></h2>
        <p class="lead">besoins toujours plus exigeants des consommateurs, des marchés et les soucis d'intégration des dimensions de développement durable dans le processus de développement ont fait que les audits environnementaux ont acquis une notoriété davantage croissante du côté de l'offre.</p>
        <p class="lead">Aujourd'hui plus que jamais, une entreprise doit donc naturellement non seulement se soucier de sa rentabilité et de sa croissance, mais aussi de ses impacts environnementaux :</p>
        <ul class="lead">
          <li>Obligée par les exigences législatives et réglementaires européennes et françaises ;</li>
          <li>Incitée par les partenaires et clients qui se sont déjà lancés dans une démarche environnementale.</li>
        </ul>
        <p class="lead">Afin de permettre aux entreprises privées, industriels, commerçants, agriculteurs mais aussi établissements publics et collectivités de répondre aux exigences environnementales réglementaires ou normatives, QHSE Concept vous accompagne dans la mise en place des meilleures pratiques.</p>
        <p class="lead">Nous vous apportons les solutions adaptées à votre entreprise dans l’objectif de  retirer des bénéfices directs et indirects de la démarche environnementale qui vous permet :</p>
        <ul class="lead">
          <li>De faire face à des enjeux internationaux de première urgence ;</li>
          <li>De répondre à des enjeux locaux et de satisfaire certaines aspirations profondes d'un nombre croissant de concitoyens ;</li>
De répondre à des enjeux locaux et de satisfaire certaines aspirations profondes d'un nombre croissant de concitoyens ;        
          <li>De maîtriser vos consommations ;</li>
          <li>De motiver votre personnel ;</li>
          <li>D'accroître vote compétitivité.</li>
        </ul>
        <p class="lead">Qdesk Consulting vous offre des solutions qui vous permettent de prendre en charge tout ou partie de la démarche environnementale de votre entreprise.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'images/domaine-qdesk-environnement.jpg' %}" alt="Environnement">
      </div>
    </div>

    <hr class="featurette-divider">
      <h2>Ils nous font confiance</h2>
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock  %}




