{% extends 'base.html' %}
{% load static  %}

{% block page_title %}Le Cabinet  | Qdesk Consulting{% endblock  %}

{% block main_content %}
            

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <h2 class="featurette-heading">Qdesk Consulting</h2>
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
      <div class="col-md-7">
        <p class="lead">Qdesk Consulting, est un cabinet de conseil spécialisé dans les domaines de management de la qualité, de l’environnement et de la santé & sécurité au travail. Grâce à notre èquipe de consultants dotèe d'une expertise mètier solide et d'un savoir-faire reconnu, il non seulement rèpondra parfaitement à vos attentes , mais aussi vous aidera à optimiser et à amèliorer vos performances.
Nos consultants seront à votre entière disposition pour vous accompagner dans vos projets de la phase diagnostic et identification des besoins jusqu'à l'atteinte des objectifs escompt és en vous offrant des prestations varièes et sur mesure.
</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="640" height="486" src="{% static 'images/le-cabinet-qdesk.jpg' %}" alt="Qualité">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock  %}




