{% extends 'base.html' %}
{% load static  %}

{% block page_title %}Message envoyé avec succès | Qdesk Consulting{% endblock  %}

{% block main_content %}
            

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <h2 class="featurette-heading">Merci de nous avoir écrire</h2>
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
      <div class="col-md-7">
        <p class="lead">
        Votre message a été envoyé avec succès! <br> 
        Vous avez également reçu un email de notre part. <br> 
        Nous vous reviendrons dans un bref délai de 48 heures.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="640" height="486" src="{% static 'images/success.png' %}" alt="Page en construction">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock  %}




