{% extends 'base.html' %}
{% load static  %}
{% load martortags %}

{% block page_title %}{{ formation.theme }} | Qdesk Consulting{% endblock  %}

{% block style_files %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock  %}

{% block main_content %}
            

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <h2 class="featurette-heading">{{ formation.theme }}</h2> <br> 
    <h3>Durée : <em class="badge badge-secondary">{{ formation.duree }}</em> Jour{{ formation.duree|pluralize }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span><a class="btn btn-primary" href="{% url 'devis_formation_nouveau' formation.id %}" role="button"><i class="fa fa-file"></i> Demander un devis</a></span></h3> 
    <br>
    <br>
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
      <div class="col-md-9" data-spy="scroll" data-target=".navbar" data-offset="50">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="resume-tab" data-toggle="tab" href="#resume" role="tab" aria-controls="nav-home" aria-selected="true">Résumé</a>
              <a class="nav-item nav-link" id="objectif-tab" data-toggle="tab" href="#objectif" role="tab" aria-controls="nav-profile" aria-selected="false">Objectif</a>
              <a class="nav-item nav-link" id="programme-tab" data-toggle="tab" href="#programme" role="tab" aria-controls="nav-contact" aria-selected="false">Programme</a>
              <a class="nav-item nav-link" id="pre-requis-tab" data-toggle="tab" href="#pre-requis" role="tab" aria-controls="nav-contact" aria-selected="false">Pré-requis</a>
              <a class="nav-item nav-link" id="cible-tab" data-toggle="tab" href="#cible" role="tab" aria-controls="nav-contact" aria-selected="false">Cible</a>
            </div>
          </nav>
          <br>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="resume" role="tabpanel" aria-labelledby="resume-tab">
              <h3>Résumé</h3>
              <p>{{ formation.resume|safe_markdown }}</p>        
            </div>
            <div class="tab-pane fade" id="objectif" role="tabpanel" aria-labelledby="objectif-tab">
              <h3>Objectif</h3>
              <p>{{ formation.objectif|safe_markdown }}</p>        
            </div>
            <div class="tab-pane fade" id="programme" role="tabpanel" aria-labelledby="programme-tab">
              <h3>Programme</h3>
              <p>{{ formation.programme|safe_markdown }}</p>        
            </div>
            <div class="tab-pane fade" id="pre-requis" role="tabpanel" aria-labelledby="pre-requis-tab">
              <h3>Pré-requis</h3>
              <p>{{ formation.prerequis|safe_markdown }}</p>        
            </div>
            <div class="tab-pane fade" id="cible" role="tabpanel" aria-labelledby="cible-tab">
              <h3>Cible</h3>
              <p>{{ formation.public|safe_markdown }}</p>        
            </div>
          </div>

      </div>

      <div class="col-md-3">
        <h3 class="bg-secondary p-1 pl-4">Sessions</h3>
        <ul>
          {% for session in formation.sessions.all %}
          <li>{{ session.debut }} : {{ session.ville }} <br><span><a class="btn btn-primary" href="{% url 'inscription_session_nouveau' session.id %}" role="button"><i class="fa fa-pencil"></i> S'inscrire</a></span></li>
          {% endfor %}
        </ul>
        <br>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock  %}

{% block js_files %}
		<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type="text/javascript"></script>
		<script src="{% static 'js/default.js' %}"></script>
{% endblock %}




