{% extends 'base.html' %}
{% load static  %}

{% block page_title %}Formations | Qdesk Consulting{% endblock  %}

{% block style_files %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock  %}

{% block main_content %}
            

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <h2 class="featurette-heading">Liste des formations</h2>
    <br><br>
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
      <div class="col-md-10">

        <table id="grid" class="table table-striped table-hover" data-pagination="true" data-search="true" class="display" width="100%" cellspacing="0">
            <thead>
              <th>Code</th>
              <th>Thème</th>
              <th>Domaines</th>
              <th>Durée</th>
              <th class="actions">Détails</th>
            </thead>
            <tbody>
                  {% for formation in formations %}
                  <tr data-index="0">
                    <td>{{ formation.code }}</td>
                    <td>{{ formation.theme }}</td>
                    <td>
                        {% for domaine in formation.domaines.all %}
                          {{ domaine.nom }} <br>
                        {% endfor %}
                    </td>
                    <td>{{ formation.duree }} Jour{{ formation.duree|pluralize }}</td>
                    <td class="actions">
                      <a class="btn btn-primary" href="{% url 'formation_detail' formation.id %}" title="Voir détails"><i class="fa fa-eye"></i></a>
                    </td>
                  </tr>
                  {% endfor %}

            </tbody>
        </table>


      </div>
      <div class="col-md-2">
        <h5 class="text-center">Télécharger le catalogue de formations</h5>
        <a href="/construction" target="_blank"><img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{% static 'images/catalogue.png' %}" alt="Catalogue de formations"></a>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock  %}

{% block js_files %}
		<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type="text/javascript"></script>
		<script src="{% static 'js/default.js' %}"></script>
{% endblock %}




