{% extends 'base.html' %}
{% load static  %}
{% load martortags %}
{% load crispy_forms_tags %}

{% block page_title %}Demander un devis de formation | Qdesk Consulting{% endblock  %}

{% block style_files %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock  %}

{% block main_content %}
            

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <h2 class="featurette-heading">Demander un devis</h2>
    <br>
    <h3><strong>Formation</strong> : {{ formation.theme }}</h3> <br>
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
      <div class="col-md-9" data-spy="scroll" data-target=".navbar" data-offset="50">
            <form method="post" enctype="multipart/form-data" action="" novalidate>
              {% csrf_token %}
              <input type="hidden" name="formation" value="{{ formation.id }}">
              {{ form|crispy }}
              <input class="btn btn-primary" type="submit" value="Envoyer" />
            </form>
      </div>

      <div class="col-md-3">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700" height="700" src="{% static 'images/facture.png' %}" alt="Page en construction">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock  %}

{% block js_files %}
		<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type="text/javascript"></script>
		<script src="{% static 'js/default.js' %}"></script>
{% endblock %}




